@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url(tablet.css);
@import url(mobile.css);

:root {
    --blue-dark: #0F23A4;
    --blue-medium: #0022FF;
    --blue-footer: #5762A3;
    --gray-1: #F1F1F1;
    --gray-2: #E7E7E7;
    --gray-3: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-------------------------------------------------------ESTILOS DEL INDEX--------------------------------------------------*/

.announcement-bar {
    background-color: var(--blue-dark);
    padding: 5px 30px;
}

.announcement-bar-content {
    display: flex;
    align-items: center;
}

.content-info {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;

    p {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 14px;
        color: #f1f1f1;

        i {
            color: #fff;
        }
    }
}

.social-links {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
        color: #fff;

        i {
            font-size: 20px;
        }
    }
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 50px;
    box-sizing: border-box;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-input,
#category-filter,
#city-filter,
#audience-filter {
    height: 40px;
    padding: 0 5px;
    border: 2px solid #DB241B;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 10px;
}

#search-input {
    width: 150px;
}

.search-icon {
    display: none;
    cursor: pointer;
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

.search-icon:hover {
    transform: translateX(-10px);
}

#search-toggle {
    display: none;
}

body {
    background-color: #F1F1F1;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: var(--blue-dark);
}

.swiper-button-prev {
    color: var(--blue-dark);
}

.swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--blue-dark);
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 40%;
}

.navbar {
    position: absolute;
    top: 85px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    width: 100%;
    padding-bottom: 8px;
    box-shadow: 0 6px 6px rgba(33, 31, 150, 0.5);
}

.menu-2 {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}

.logo-2 {
    width: 195px;
    height: 58px;
}

.socials {
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #FFFFFF;
        text-decoration: none;
        transition: transform 0.3s ease-in-out;

        .social {
            margin: 0 10px;
            height: 40px;
            width: 40px;
            border: 1px solid #ffffff;
            border-radius: 50%;
        
            i {
                margin: 10px 0 0 10px;
            }
        }
    }

    a:hover {
        transform: translateY(-5px);
        color: #fff;

        .social {
            background-color: var(--blue-dark);
        }
    }
}

.menu .navbar ul li {
    position: relative;
    float: left;
    padding: 0 20px;

    a {
        font-size: 18px;
        color: #000000;
        display: block;
        font-weight: 600;
    }

    a::after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: var(--blue-dark);
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all .5s ease;
    }

    a:hover::after {
        opacity: 1;
    }

    a:hover {
        color: var(--blue-dark);
    }
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

.menu-icono:hover {
    transform: translateX(-10px);
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: absolute;

    #carrito {
        display: none;
    }
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FEFFFF;
}

.borrar {
    background-color: #7270EC;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FEFFFF;
    font-weight: 800;
}

.inicio-content {
    margin-top: 180px;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #444444;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid var(--blue-dark);
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
    background-color: var(--blue-dark);
}

.btn-1:hover {
    background-color: var(--blue-medium);
}

.slider-img {
    width: 50%;

    img {
        margin-right: 225px;
        width: 550px;
    }
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
}

.btn-2:hover {
    background-color: #AB1C15;
    transform: translateY(-20px);
}

.inicio {
    background-color: #f1f1f1;
}

.footer-container {
    background-color: var(--blue-footer);
}

.footer {
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.links ul li {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
}

.links ul iframe {
    filter: grayscale(100%) invert(92%) contrast(93%);
}

.info-txt {
    h5 {
        font-size: 40px;
        color: #DB241B;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 150px;
        margin-bottom: 0px;
    }
}

.hidden {
    display:none;
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Mueve a la derecha */
    }
    100% {
        transform: translateX(0); /* Vuelve a la posici칩n inicial */
    }
}

.progreso-compra {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.progreso-compra h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.progress {
    display: flex;
    align-items: center;
    gap: 10px;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #1a1a1a;
    color: #A7A7A7;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.step-number.active {
    background-color: #DB241B;
    color: #FFFFFF;
    transition: transform 0.3s ease-in-out;
    animation: moveUpDown 1.5s linear infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Mueve a la derecha */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posici칩n inicial */
    }
}

.step-label {
    margin-top: 2px;
    color: #A7A7A7;
}

.progress-line {
    width: 200px;
    height: 4px;
    background-color: #1a1a1a;
}

.progress-line.active{
    width: 200px;
    height: 4px;
    background-color: #DB241B;
    transition: transform 0.3s ease-in-out;
    animation: moveUpDown 1.5s linear infinite;
}

@keyframes moveRightLeft2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); /* Mueve a la derecha */
    }
    100% {
        transform: translateX(0); /* Vuelve a la posici칩n inicial */
    }
}

/*Explora los productos*/

.explore-products {
    padding: 50px 0;
    background-color: #D9D9D9;
    text-align: center;

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
        color: var(--blue-dark);
    }
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    width: 18%;
    margin: 15px 0;
    cursor: pointer;
    transition: transform 0.3s ease;

    h3 {
        margin-top: 10px;
        font-size: 18px;
        color: var(--blue-dark);
    }

    img {
        width: auto;
        height: 100px;
        border-radius: 8px;
        transition: filter 0.3s ease;
    }
}

.category:hover {
    transform: scale(1.05);
}

.category:hover img {
    filter: drop-shadow(0 4px 15px rgba(0, 0, 255, 0.5)); /* Sombra que sigue la forma */
}

hr {
    border: 1px solid var(--blue-dark);
}

/*Lo m치s vendido del mes*/

.products {
    padding: 50px 0;

    h2 {
        font-size: 30px;
        color: var(--blue-dark);
        margin-bottom: 78px;
        text-align: center;
    }
}

.product {
    text-align: center;

    img {
        width: auto;
        height: 150px;
        margin-bottom: 15px;
    }
}

.product-txt {
    h3 {
    font-size: 18px;
    color: #181818;
    margin-bottom: 10px;
    }

    p {
        color: #747b8f;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.precio {
    color: var(--blue-dark) !important;
    font-weight: 600;
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
    border-radius: 25px;
    margin-top: 15px;
}

.btn-3:hover {
    background-color: var(--blue-dark);
    color: #fff;
}

/*-------------------------------------------------------ESTILOS DE ...--------------------------------------------------*/
